@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import url('https://fonts.googleapis.com/css?family=Gidugu');
@import url('https://fonts.googleapis.com/css?family=Oxygen');

*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(83, 83, 83);
    font-family: Oxygen, sans-serif;
    padding-top: 200px;
}
header{
    padding-top: 15px;
    background: rgb(48, 48, 48);
    height: 200px;
    max-width: 1600px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: top 0.1s ease-in-out;
    width: 100%;
    z-index: 5;
}
.nav-up {
    top: -200px;
}
    ul{
        display: flex;
        list-style: none;
        justify-content: space-around;
        align-items: center;
    }
        li:hover:nth-child(even) a{
            border-bottom: 3px solid rgb(42, 116, 223);
            color:white;
        }
        li:hover:nth-child(odd) a{
            border-bottom: 3px solid rgb(242, 173, 29);
            color:white;
        }
        li:hover:nth-child(4) a{
            border-bottom: none;
        }
            header img{
                max-width: 180px;
                max-height: 180px;
            }
            a{
                color: #868686;
                text-decoration: none;
                font-size: 24px;
            }
            .fa{
                display: block;
                text-align: center;
                padding: 15px;
                color: rgb(242, 173, 29);
            }
        .nav-down  ul{
            position: relative;
        }
        li:nth-child(even) .fa{
            color: rgb(42, 116, 223);
        }
        li:nth-child(odd) .fa{
            color: rgb(242, 173, 29);
        }
        .nav-down ul ul{
            display: none;
            position: absolute;
        }
        .nav-down ul li:hover > ul{
            display: inline-block;
            background: rgb(48, 48, 48);
            height: 250px;
        }
        .nav-down ul ul li{
            width:170px;
            position: relative;
            display: block;
            padding-right: 20px;
            margin: 10px;
            top:12px;
            left:47px;

        }
        .nav-down ul ul li:hover a{
            border-bottom: none;
            color: #868686;
        }

main{
    max-width: 1600px;
    margin: 0 auto;

    background: linear-gradient(
            rgba(83, 83, 83, 0.9),
            rgba(83, 83, 83, 0.9)),
    url(../images/others/Smiles-Smileys-Smile-Yellow-Balls-WallpapersByte-com-3840x2400.jpg);
    background-size: cover;
}
    main > h1{
        text-align: center;
        font-size: 66px;
        color: white;
        padding-top: 30px;
    }
    main #jokes{

        display: flex;
        padding-left: 20px;
        max-width: 1600px;
        margin: 0 auto;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 30px;
    }
        #jokes .jokes-images{
            min-height: 490px;
            text-align: center;
            margin-right: 20px;
            box-shadow: 8px 8px 5px #3b3b3b;
            margin-bottom: 50px;
            transition: all 0.5s;
        }
        #jokes .jokes-images:hover{
            transform:scale(1.05);
            background: rgb(83, 83, 83);
            opacity: 1;
        }
        #jokes .jokes-images h2{
            font-family: Gidugu, sans-serif;
            font-size: 44px;
            font-style: italic;
            padding: 15px;
            background: rgba(255, 255, 255, 0.4);
        }
        #jokes .jokes-images img{
            flex-grow: 1;
            width: 400px;
            height: 400px;

        }
        #jokes .jokes-images i{
            display: inline-block;
            flex-basis: 100px;
            font-size: 36px;
            color:rgb(242, 173, 29);
        }
        #jokes .jokes-images i:hover{
            background: rgba(183, 183, 183, 0.2);
        }
    main #comedians{
        padding-top: 50px;
        background: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        main #comedians h1{
            text-align: center;
            font-size: 66px;
        }

        #comedians .review{
            margin: 30px 20px;
            color: #ffffff;
            max-width: 800px;
            padding: 40px;
            text-align: center;
            box-shadow: 8px 8px 5px #3b3b3b;
            background: linear-gradient(to bottom, #868686 0%, #474747 100%) no-repeat center center;
        }
        #comedians .review:hover{
            background: linear-gradient(to bottom, #868686 100%, #474747 100%) no-repeat center center;
            text-shadow: 2px 2px 2px #3b3b3b;
        }
        #comedians .review:hover img{
            transform: rotate(360deg) scale(2.2);
        }
        #comedians img{
            display: block;
            margin: 50px auto;
            width: 70px;
            height: 70px;
            max-width: 140px;
            border-radius: 50%;
            transition: all 1s;
        }
        #comedians #name{
            margin-bottom: 20px;
            font-size: 24px;
            font-weight: bold;
            text-shadow: 2px 2px 2px #3b3b3b;
        }
        #comedians .description{
            margin-top: 20px;
            font-size: 16px;
        }
        #comedians .review a button{
            margin-top:20px;
            background: rgb(48, 48, 48);
            text-transform: uppercase;
            border: none;
            font-size: 12px;
            color: #ffffff;
            padding: 10px 25px;
        }
        #comedians .review a:hover button{
            background: rgba(48, 48, 48, 0.3);
        }

    main #css-jokes{
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
        .css-img{
            width: 490px;
            height: 380px;
            margin: 50px;
        }
        .css-img:hover{
            width: 490px;
            height: 380px;
            margin: 50px;
            box-shadow: 18px 18px 5px #000000;
        }

    main #random-jokes{
        padding-top: 100px;
        background: rgba(255, 255, 255, 10);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
        .rnd-joke{
            font-size: 20px;
            margin: 30px;
            width: 40%;
            color:white;
            min-width: 300px;
            padding: 40px;
            text-align: center;
            box-shadow: 8px 8px 5px #3b3b3b;
            background: linear-gradient(to bottom, #868686 0%, #474747 100%) no-repeat center center;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 35px;
        }
        .rnd-joke:hover {
            background: linear-gradient(to bottom, #868686 100%, #474747 100%) no-repeat center center;
            text-shadow: 2px 2px 2px #3b3b3b;
        }
        .rnd-joke span{
            font-style: italic;
        }

    main #chuck-norris{
        background: rgb(48, 48, 48);
        text-align: center;
        padding: 60px 0;
    }
        #chuck-norris p{
            color: white;
            margin: 40px;
            line-height: 25px;
            transition: all 0.8s;
        }
        #chuck-norris p:hover{
            color: white;
            font-size: 18px;
            color: #5bc0de;
        }



footer{
    background: rgb(16, 16, 16);
    color:white;
    text-shadow: 2px 2px 2px #3b3b3b;
    line-height: 70px;
    text-align: center;
}
    .social-icons{
        display: flex;
        justify-content: center;
        padding-bottom: 40px;
    }
        .social-icons a{
            margin: 0 20px;
            padding: 0;
        }

        .social-icons .fa {
            font-size: 1.8em;
        }

        .social-icons .fa {
            padding: 5px;
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            color: #FFF;
            color: rgba(255, 255, 255, 0.8);
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

        .social-icons.icon-circle .fa{
            border-radius: 50%;
        }

        .social-icons .fa:hover, .social-icons .fa:active {
            color: #FFF;
            -webkit-box-shadow: 1px 1px 3px #333;
            -moz-box-shadow: 1px 1px 3px #333;
            box-shadow: 1px 1px 3px #333;
        }
        .social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
            transform: scale(1.1);
        }

        .social-icons .fa-facebook,.social-icons .fa-facebook-square{background-color:#3C599F;}

        .social-icons .fa-google-plus,.social-icons .fa-google-plus-square{background-color:#CF3D2E;}

        .social-icons .fa-twitter,.social-icons .fa-twitter-square{background-color:#32CCFE;}

        .social-icons .fa-youtube,.social-icons .fa-youtube-play,.social-icons .fa-youtube-square{background-color:#C52F30;}
